:root {
  --white: #fafafa;
  --gray: #696969;
  --black: #141414;
}
* {
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  padding: 0;
  margin: 0;
}
header {
  padding: 1.5rem;
  width: 1400px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0 auto;
}
nav {
  display: flex;
  width: 1400px;
  justify-content: space-between;
}
.left {
  display: flex;
  flex-direction: row;
}
.nav-list {
  display: flex;
  gap: 2rem;
  margin: 0 3rem;
  align-items: center;
}
.img-list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
li,
p {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: var(--gray);
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
}

.btn-bg {
  width: 10rem;
  font-size: 16px;
  padding: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
  background-color: var(--black);
}
.btn-sml {
  color: #141414;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid;
}
.btn-sml:hover {
  color: var(--white);
  background-color: var(--black);
}
.btn-bg:hover {
  color: var(--black);
  background-color: var(--white);
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 8rem;
  width: 1226px;
  margin: 2rem auto;
}
.hero-left {
  margin-top: 5rem;
}
.hero-right img {
  height: 40rem;
}
.title {
  font-size: 80px;
  font-weight: 700;
}
.sub-title {
  overflow: hidden;
  color: var(--gray);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75rem;
  padding: 2.5rem 0;
}
.user-list {
  margin-top: 5rem;
}
.user-list img {
  width: 6rem;
}

.dropdown-content li {
  padding: 10px 0;
}
.dropdown-content li img {
  margin-right: 15px;
}
#mob-nav {
  display: none;
}
.attribution {
  display: flex;
  justify-content: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: max-content;
  border-radius: 10px;
  padding: 0.5rem;
}
.dropdown-content ul {
  padding: 0.5rem;
}
.active {
  display: block;
}

.mobile-nav {
  background-color: #fff;
  display: none;
}

.mobile-nav-icon-menu,
.mobile-nav-icon-close {
  width: 2rem;
  height: 2rem;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.mob-nav-list {
  display: none;
}
.show {
  transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
}

@media only screen and (max-width: 576px) {
  header {
    display: none;
  }
  .container {
    width: 100vw;
  }
  .right {
    display: flex;
    flex-direction: column;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
    gap: 0.75rem;
  }
  .hero-right img {
    width: 80vw;
    height: 15rem;
    object-fit: contain;
  }
  .hero-left {
    text-align: center;
    margin-top: 0;
  }
  .title {
    font-size: 32px;
  }
  .img-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sub-title {
    font-size: 18px;
    line-height: 1.75rem;
    padding: 1.5rem 0;
  }
  br {
    display: none;
  }
  .user-list {
    margin-top: 2rem;
  }
  .user-list img {
    width: 0;
  }
  .attribution {
    display: block;
    font-size: 15px;
    text-align: center;
  }

  .mobile-nav {
    display: flex;
    background-color: #fff;
    flex-direction: row;
    padding: 0.8rem;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
  }
  .mobile-nav-menu {
    width: 80%;
    height: 100vh;
    z-index: 99;
    background-color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mob-nav-list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 1rem;
    gap: 1rem;
  }
  .nav-list {
    gap: 1rem;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
  }
  .mob-nav-list .dropdown p {
    color: var(--gray);
    font-size: 15px;
  }
  .mobile-nav-btn {
    display: block;
  }
  .mobile-nav-icon-close {
    float: right;
    margin: 20px;
  }
  .show .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .show .mobile-nav-icon[name="close-outline"] {
    display: block;
  }
  .logo {
    width: 40px;
    margin-top: 6px;
    height: 25px;
  }
}
